.menu-container {
  display: flex;
  align-items: end;
}

.menu-container > a {
  text-decoration: none;
  font-size: smaller;
  margin-left: 1rem;
}

.menu-container
> h1 {
  font-size: 3.5rem;
  font-style: italic;
  margin-bottom: -0.82rem;
  padding-left: 2rem;
}
