<div class="container my-5">
  <div class="row align-items-center justify-content-evenly">
    <div class="col-12 col-lg-6 col-xl-4 text-center text-lg-start">
      <img class="profile-pic " src="../../../assets/images/me.jpg" alt="">
    </div>
    <div class="col-12 col-lg-6 col-xl-8 mx-auto">
      <div class="text-center text-lg-start my-5 my-lg-0">
        <span>Desenvolvedora júnior</span>
        <h1>Lívia Nascimento</h1>
      </div>
      <div class="mx-auto text-center text-lg-start">
        <img class="me-1 my-2" src="https://img.shields.io/badge/javascript-%23585858.svg?style=for-the-badge&logo=javascript&logoColor=%23f7df1e">
        <img class="me-1 my-2" src="https://img.shields.io/badge/node.js-%23669254?style=for-the-badge&logo=node.js&logoColor=white" alt="">
        <img class="me-1 my-2" src="https://img.shields.io/badge/postgres-%23589cbf.svg?style=for-the-badge&logo=postgresql&logoColor=white" alt="">
        <img class="me-1 my-2" src="https://img.shields.io/badge/angular-%23d33b3b.svg?style=for-the-badge&logo=angular&logoColor=white" alt="">
        <img class="me-1 my-2" src="https://img.shields.io/badge/bootstrap-%237068e2.svg?style=for-the-badge&logo=bootstrap&logoColor=white" alt="">
      </div>
      <br>
      <div class="mx-auto text-center text-lg-start">
        <p>Oie, tudo bom? Pode me chamar de Liv. 👋🏻</p>
        <p>Atualmente eu estou estudando Engenharia da Computação pela Faculdade Descomplica e estou trabalhando no meu Trabalho Interdisciplinar de Conclusão do Curso de back-end da Cubos Academy. Também ando passeando pelo Java com SpringBoot. Atualmente, meu foco são vagas de júnior ou estágio.</p>
        <p>Meu lado não-dev se interessa muito por culinária, criatividade e sustentabilidade! Se você quiser trocar uma ideia sobre programação ou outros assuntos, não hesite em entrar em contato comigo!</p>
        <p>Para conhecer melhor minhas hard skills, você pode:</p>
      </div>
      <div class="d-flex flex-column flex-md-row text-center text-lg-start align-items-center">
        <a href="../../../assets/files/curriculoLiviaNascimento.pdf" target="_blank" download="curriculoLiviaNascimento">
          <button class="btn btn-dark mb-2 me-md-2">
            <i class="bi bi-download"></i>
            <span class="ms-3">Baixar meu currículo</span>
          </button>
        </a>
        <a href="https://linkedin.com/in/liviarnascimento" target="_blank">
          <button class="btn btn-dark mb-2 me-md-2">
            <i class="bi bi-github"></i>
            <span class="ms-3">Acessar meu LinkedIn</span>
          </button>
        </a>
        <a href="https://github.com/livnascimento" target="_blank">
          <button class="btn btn-dark mb-2 me-md-2">
            <i class="bi bi-linkedin"></i>
            <span class="ms-3">Acessar meu GitHub</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
