<app-title></app-title>
<div class="articles row my-4 justify-content-center w-100 align-items-stretch mx-0 px-md-5" *ngIf="data">
  <div class="col-12 col-md-6" *ngIf="data[0]">
    <app-big-card
    [id]="+data[0].id"
    [imgSource]="data[0].article_cover"
    [title]="data[0].title"
    [description]="data[0].description"
    [publicationDate]="data[0].date"
    [type]="data[0].type"
    [subject]="data[0].subject"
    [imageHeight]="'430px'"
    [fontSize]="'3rem'"
    ></app-big-card>
  </div>
  <div class="col mt-5 mt-md-0">
    <div class="row justify-content-between">
      <div class="col-12 col-md-6 my-3"  *ngFor="let article of data.slice(1,4); index as index">
        <app-small-card
        [id]="article.id"
        [imgSource]="article.article_cover"
        [title]="article.title"
        *ngIf="data[index]"></app-small-card>
      </div>
      <div class="col-12 col-md-6 my-3" *ngFor="let article of data.slice(4,7); index as index">
        <app-small-card
        [id]="data[index].id"
        [imgSource]="article.article_cover"
        [title]="article.title"
        *ngIf="data[index]"></app-small-card>
      </div>
    </div>
  </div>
  <div class="row mb-4 mx-0 mx-md-3 w-100">
    <div class="col-12 col-md-6 my-3 my-md-0">
      <hr class="m-3">
      <app-big-card
      [id]="data[7].id"
      [imgSource]="data[7].article_cover"
      [title]="data[7].title"
      [description]="data[7].description"
      [publicationDate]="data[7].date"
      [type]="data[7].type"
      [subject]="data[7].subject"
      [imageHeight]="'300px'" [fontSize]="'2rem'"
      *ngIf="data[7]"></app-big-card>
    </div>
    <div class="col-12 col-md-6 my-3 my-md-0">
      <hr class="m-3">
      <app-big-card
      [id]="data[8].id"
      [imgSource]="data[8].article_cover"
      [title]="data[8].title"
      [description]="data[8].description"
      [publicationDate]="data[8].date"
      [type]="data[8].type"
      [subject]="data[8].subject"
      [imageHeight]="'300px'"
      [fontSize]="'2rem'"
      *ngIf="data[8]"></app-big-card>
    </div>
  </div>
</div>
