@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700&display=swap");
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Gabarito';
  color: #f2f2f2;
}

body {
  background-color: #2b3035;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

a:hover {
  color: #f2f2f2;
  opacity: 70%;
}
